/*CSS File asssigning attribute to node grid */
/* .node creates grid layout */
.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(0, 86, 126);
  display: inline-block;
  padding: 15px;
  margin-right: 5px;
}

/* target node, graduation cap */
.node-finish {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/347/865/small/Education__28121_29.jpg");
  background-position: center;
  background-size: cover;
}

/* start node, Kean logo */
.node-start {
  background-image: url("https://pbs.twimg.com/profile_images/1088177696654249984/BjpvwVyD_400x400.jpg");
  background-position: center;
  background-size: cover;
}

/* creates animation for individual node after visited by alogrithm */
.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* gives attribute to wall */
.node-wall {
  background-color: rgb(0, 0, 0);
}

/* creates animation when shortes path is found */
/* animates path from start to end node */
.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Creates jumping animation for visited nodes */
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(180, 180, 180, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(180, 180, 180, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(180, 180, 180, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(180, 180, 180, 0.75);
  }
}

/* Create color changing visual for nodes picked in the shortest path */
@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 0, 0);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(0, 255, 34);
  }
}
